* {
    margin:0;
    padding:0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $cor-primaria;
    font-size:18px;
    font-family: $fonte-principal;
    color:#8AA1C1;
}



.f-center {
    display: flex;
    justify-content: center;
}