.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 850px;
    .card {
        background-color: #023059;
        border-radius: 20px;
        width: 350px;
        height: 500px;
        
        figcaption {
            background-color: hsl(178, 100%, 50%);
            width: 300px;
            margin: 10px 25px;
            height: 300px;
            border-radius: 10px;            
            img {
                width: 300px;
                height: 300px;
                border-radius: 10px;
                &:hover {
                    opacity: 0.15;
                }
            }
   
            &:hover {
                cursor: pointer;
                background-image: url('../img/icon/icon-view.svg');
                background-size: 50px;
                background-repeat: no-repeat;
                background-position-x: 50%;
                background-position-y: 50%;
            }
        }

        article {
            padding: 0 20px;
            h1 {
                font-size: 18px;
                color:white;
                &:hover {
                    cursor:pointer;
                    color: hsl(178, 100%, 50%);
                }
            }
            p {
                margin: 10px 0;
            }
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap:wrap;
            
            .container-ethereum {
               p {
                    color: hsl(178, 100%, 50%);
                }
            }

            .container-usuario {
                border-top: 2px solid hsl(215, 32%, 27%);
                p {
                    display: flex;
                    align-items: center;
                    text-indent: 5px;
                    word-spacing: 5px;
                    img {
                        display: inline-block;
                        width: 35px;
                    }

                    a {
                        color: white;
                        text-indent: 5px;
                        text-decoration: none;
                        &:hover {
                            color: hsl(178, 100%, 50%);
                        }
                    }
                }
            }
        }
    }
}