
@media (max-width: 380px) {
    .container {
        .card {
            width: 250px;
            height: 530px;
            figcaption {
                width: 200px;
                img {
                    width: 200px;
                }                
            }
        }
    }

}

@media (max-height: 510px) and (orientation: landscape)   {

    
    .container {
        
        .card {
            display: flex;
            flex-direction: row;
            width: 580px;
            height: 330px;
            figcaption {
                width: 200px;
                img {
                    width: 200px;
                }                
            }

        }
    }
}